langchain
langchain-community
langchain-anthropic
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
pypdf
anthropic
streamlit
pydantic-settings
python-dotenv
langchain-text-splitters
plotly
torch --index-url https://download.pytorch.org/whl/cpu